body {
  background-color: rgb(255, 255, 255);
}

.displayBreak {
  white-space: pre-line;
}

.smallAnchor {
color: rgb(177, 127, 0);
text-decoration: none;
}

.smallAnchor:hover {
  color: rgb(121, 87, 0);
  text-decoration: underline;
  cursor: pointer;
  }

.bookPreview {
  text-decoration:none;
  color: black;
}

.bookPreview:hover{
  color: black;  
  text-decoration:underline;
  opacity: 80%;
}

.previewBody{
  display: inline-block;
  text-decoration:none !important;
  font-size: 14px;
}


.homeButton {
  width: 50px;
  color: black;
  cursor: pointer;
  size: 600px;
}

.homeButton :hover {
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.likeReplyButton {
  font-size: 15px;
}


.likeReplyButton :hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}

@media (min-width: 10px) { 
  .blogPreviewItem {
      width: 100%;
  }
  .blogPreviewText {
      margin-left: 15px;
      min-width: 50%;
  }

  .profilePic {
    min-width: 200;
    max-width: 40%;
    height: auto;
    border-radius: 5%
  }

  .postMasterImage {
    width: 50%;
    border-radius: 5%;
  }

  .postPageHeadline {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }

  .postPageAuthorLine {
    font-size: 15px;
    text-align: center;
  }

}

@media (min-width: 768px) { 
  .blogPreviewItem {
      width: 47%;
  }

  .profilePic {
    min-width: 200;
    max-width: 20%;
    height: auto;
    border-radius: 5%
  }

  .postMasterImage {
    width: 30%;
    border-radius: 5%;
  }
}

@media (min-width: 992px) { 
  .blogPreviewItem {
      width: 30%;
  }
  .blogPreviewText {
      margin-left: 0px;
  }

  .profilePic {
    min-width: 200;
    max-width: 20%;
    height: auto;
    border-radius: 5%
  }

  .postMasterImage {
    width: 30%;
    border-radius: 5%;
  }
}

@media (min-width: 1200px) { 
  .blogPreviewItem {
      width: 30%;
  }

  .profilePic {
    min-width: 200;
    max-width: 20%;
    height: auto;
    border-radius: 5%
  }

  .postMasterImage {
    width: 30%;
    border-radius: 5%;
  }
}




